l Studio



# User-specific files

*.suo

*.user

*.sln.docstates



# Build results

[Dd]ebug/

[Rr]elease/

x64/

build/

bld/

[Bb]in/

[Oo]bj/



# Visual Studio Cache/options directory

*.VC.opts



# Visual Studio 2015/2017/2019

.vs/



# Visual Studio 2017

# Backup & report files from SQL Server Data Tools

*.bak

*.dacpac

*.dacpac.model

*.dbmdl

*.dbschema

*.sql

*.sqlplan



# Visual Studio 2019

*.vcxproj.filters

*.vcxproj.user
